
<link rel="stylesheet" href="/css/user_sign_up.css">
<!-- <h1>Sign Up</h1> -->

<div class="container">
    <div class="img">
        <img src="/image/phone2.png" alt="">
    </div>
    <div class="sign-up-container">
        <div class="avatar">
            <img src="/image/avatar1.png" alt="">
        </div>
        <h1>Sign Up</h1>
        <form action="/users/create" method="POST">
            <div class="input">
            <input type="text" name="name" placeholder="Your Name" required><br>
            <input   type="email" name="email" placeholder="Your Email" required><br>
            <input  type="password" name="password" placeholder="Password" required><br>
            <input  type="password" name="confirm_password" placeholder="Confirm Password" required><br>
            <input class="btn"  type="submit" value="Sign Up">
            <div class="google">
                 <p>
                    <a  href="/users/auth/google">Google Sign In/Sign Up</a>
                </p>
            </div>
        </div>
        
        </form>
        
        
    </div>



</div>

