

<!-- <form action="/users/create-session" method="POST">
    <h5>Username</h5>
    <input type="email" name="email" placeholder="Email"  required>
    <h5>Password</h5>
    <input type="password" name="password" placeholder="Password"  required>
    <br><br>
    <input type="submit" value="Sign In">

</form>
<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p> -->


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="/css/user_sign_in.css">

<div class="container">
    <div class="img">
        <img src="/image/phone2.png" alt="">
    </div>
    <div class="login-container">
        <form action="/users/create-session" method="POST">
            <img class="avatar" src="/image/avatar1.png" alt="">
            <h1>Welcome</h1>

            <div class="input-div one"> 
                <div class="i">
                    <i class="fas fs-user"></i>
                </div>            
                <div>
                    <h5>Username</h5>
                    <input class="input" type="email" name="email"  required>
                </div>
            </div>
            <div class="input-div two">
                    <div class="i">
                            <i class="fas fs-lock"></i>
                    </div>  
                <div>
                    <h5>Password</h5>
                    <input class="input" type="password" name="password" required>
                </div>
          
                 </div>
                 
                 <a  href="#">Forgot Password</a>
                
                 
                 <input class="btn" type="submit" value="Sign In">            
                <p>
                    <a class="google" href="/users/auth/google">Google Sign In/Sign Up</a>
                </p>
            
        </form>

    </div>
</div>
